*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-font: Georgia, serif;
    --secondary-font: 'Times New Roman', serif;
    --primary-color: #1f1137;
    --light-purple: #F3E5FF;
    --gray: #C4C4C4;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}